<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Given URL</h4>
    </div>
    <div class="col-md-3">
      <h4>Formatted URL</h4>
    </div>
     <div class="col-md-3">
      <h4>Short URL</h4>
    </div>
     <div class="col-md-2">
      <h4>No. of Views</h4>
    </div>
  </div>
  <% @urls.each do |url| %>
    <div class="row well">
      <div class="col-md-3">
        <h4><%= url.given_url %></h4>
      </div>
      <div class="col-md-3">
        <h4><%= url.formatted_url %></h4>
      </div>
      <div class="col-md-3">
        <h4> <%= link_to application_host(url), url_view_path(url.id), class: "btn", target: '_blank' %></h4>
      </div>
      <div class="col-md-2">
        <h4><%= url.url_views.count %></h4>
      </div>
      <div class="col-md-1">
        <h4><%= link_to "Show stats", short_url_path(url.id), class: "btn btn-primary" %></h4>
      </div>
    </div>
  <% end %>
</div>
