<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Given URL</h4>
    </div>
    <div class="col-md-3">
      <h4>Formatted URL</h4>
    </div>
    <div class="col-md-3">
      <h4>Short URL</h4>
    </div>
    <div class="col-md-1">
      <h4>No. of views</h4>
    </div>
  </div>
  <div class="row well">
    <div class="col-md-3">
      <h4> <%= @url.given_url %> </h4>
    </div>
    <div class="col-md-3">
      <h4> <%= @url.formatted_url %> </h4>
    </div>
    <div class="col-md-3">
      <h4>
        <%= simple_form_for '', url: url_views_path, html: { target: 'new_section_frame' }  do |f| %>
          <%= f.input :short_url_id, as: :hidden, input_html: { value: @url.id } %>
          <%= f.submit @url.shortened_url, class: 'btn' %>
        <% end %>
      </h4>
    </div>
    <div class="col-md-1">
      <h4><%= @url.url_views.count %></h4>
    </div>
    <div class="col-md-1">
      <h4> <%= link_to "Delete", short_url_path(@url.id), method: :delete, class: "btn btn-danger" %></h4>
    </div>
    <div class="col-md-1">
      <h4> <%= link_to "Go to Index", root_path, class: "btn btn-primary" %></h4>
    </div>
  </div>
  <%= render 'url_views' %>
</div>