<!DOCTYPE html>
<html>
  <head>
    <title>MoneySmart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <nav class="navbar navbar-inverse">
	    <div class="container-fluid">
	      <div class="navbar-header">
	        <a class="navbar-brand" href=<%= root_path %>>URL Shortner</a>
	      </div>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href=<%= new_short_url_path %>><span class="glyphicon glyphicon-log-in"></span> New URL</a></li>
	      </ul>
	    </div>
	  </nav>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

  <%= yield %>
  </body>
</html>
